[Unit]
Description=OPad background service daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/opad-daemon
Restart=on-failure
RestartSec=3s
Environment=RUST_LOG=info

[Install]
WantedBy=graphical-session.target
